@page "/gioi-thieu"
@model KoiPondConstructionManagement.Pages.AboutModel
@{
}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url('/images/bg/5.jpg') no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Giới thiệu</span>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" asp-page="/Index">Trang chủ</a>
                            <span class="brd-separetor">-</span>
                            <span class="breadcrumb-item active">Giới thiệu</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Construction Area -->
<section class="htc__best__construction ptb--80">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="htc__bst__construc">
                    <div class="section__title text-center">
                        <h2 class="title__line">Giải Pháp <span class="text--theme">Toàn Diện</span> Cho Hồ Cá Koi</h2>
                        <p>Thi Công & Chăm Sóc Hồ Cá Koi Đẳng Cấp – Mang Thiên Nhiên Vào Ngôi Nhà Bạn</p>
                    </div>
                    <div class="htc__bst__btn text-center mt--30">
                        <a class="htc__btn" asp-page="/Service/Index">Xem các dịch vụ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Construction Area -->

<!-- Start Offer Area -->
<section class="htc__mission__area bg__gray">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-5 col-sm-7 col-xs-12">
                <div class="htc__mission__container">
                    <div class="single__mission">
                        <h2>NHỮNG GÌ CHÚNG TÔI YÊU THÍCH</h2>
                        <p>Chúng tôi đam mê mang đến những giải pháp thi công và chăm sóc hồ cá Koi tinh tế, hài hòa với thiên nhiên. Từ thiết kế sáng tạo, thi công chuyên nghiệp, cho đến dịch vụ chăm sóc và bảo dưỡng toàn diện, mỗi công đoạn đều được thực hiện với sự tận tâm và trách nhiệm cao nhất. Chúng tôi tin rằng, mỗi hồ cá Koi không chỉ là một công trình nghệ thuật mà còn là không gian thư giãn, mang lại sự yên bình và thịnh vượng cho gia chủ.</p>
                    </div>
                    <div class="single__mission">
                        <h2>SỨ MỆNH CỦA CHÚNG TÔI</h2>
                        <p>Sứ mệnh của chúng tôi là mang đến cho khách hàng không chỉ một sản phẩm hoàn thiện, mà còn là những trải nghiệm tuyệt vời với hồ cá Koi. Chúng tôi cam kết cung cấp các dịch vụ thi công và bảo dưỡng uy tín, chất lượng, đảm bảo sự hài lòng tuyệt đối. Mỗi dự án đều được chúng tôi chăm chút từ thiết kế đến bảo trì, để khách hàng có thể hoàn toàn yên tâm và tận hưởng không gian sống xanh mát, thanh bình.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="htc__offer__thumb">
        <div class="htc__offer__thumb__inner">
            <img src="~/images/about/1.jpg" alt="offer img">
        </div>
    </div>
</section>
<!-- End Offer Area -->

<!-- Start Team Area -->
@Html.Partial("_OurTeamPartial")
<!-- End Team Area -->

<!-- Start Offer Area -->
@Html.Partial("_OfferPartial")
<!-- End Offer Area -->

@await Html.PartialAsync("_TestimonialPartial")