@page "/dang-nhap-dang-ky"
@model KoiPondConstructionManagement.Pages.LoginRegisterModel
@{
}

<!-- Start Login Register Area -->
<div class="htc__login__register bg__white ptb--80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <li role="presentation" class="login @(string.Equals(Model.Action, "login", StringComparison.OrdinalIgnoreCase) ? "active": "")">
                        <a asp-page="/LoginRegister" asp-route-action="login">Đăng nhập</a>
                    </li>
                    <li role="presentation" class="register @(string.Equals(Model.Action, "register", StringComparison.OrdinalIgnoreCase) ? "active": "")">
                        <a asp-page="/LoginRegister" asp-route-action="register">Đăng ký</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start Login Register Content -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="htc__login__register__wrap">
                    
                    @if (string.Equals(Model.Action, "login", StringComparison.OrdinalIgnoreCase))
                    {
                        @if (Model.GetModelErrors(nameof(Model.LoginModel)).Any())
                        {
                            <ul class="alert alert-danger">
                                @foreach (var error in Model.GetModelErrors(nameof(Model.LoginModel)))
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        }

                        <!-- Start Single Content cho form đăng nhập -->
                        <form id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active" method="post" asp-page-handler="Login" asp-route-action="login">
                            <div class="login">
                                <div class="form-group">
                                    <input asp-for="LoginModel.Email" type="text" placeholder="Email*" />
                                    <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="LoginModel.Password" type="password" placeholder="Mật khẩu*" />
                                    <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="tabs__checkbox">
                                <input type="checkbox" asp-for="LoginModel.RememberMe" />
                                <span> Ghi nhớ đăng nhập</span>
                                <span class="forget"><a href="#">Quên mật khẩu?</a></span>
                            </div>
                            <div class="htc__login__btn mt--30">
                                <button type="submit">Đăng nhập</button>
                            </div>
                        </form>
                        <!-- End Single Content -->
                    }

                    @if (string.Equals(Model.Action, "register", StringComparison.OrdinalIgnoreCase))
                    {
                        @if (Model.GetModelErrors(nameof(Model.RegisterModel)).Any())
                        {
                            <ul class="alert alert-danger">
                                @foreach (var error in Model.GetModelErrors(nameof(Model.RegisterModel)))
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        }

                        <!-- Start Single Content cho form đăng ký -->
                        <form id="register" role="tabpanel" class="single__tabs__panel tab-pane fade in active" method="post" asp-page-handler="Register" asp-route-action="register">
                            <div class="login">
                                <div class="form-group">
                                    <input asp-for="RegisterModel.FullName" placeholder="Họ và tên*" />
                                    <span asp-validation-for="RegisterModel.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="RegisterModel.Email" placeholder="Email*" />
                                    <span asp-validation-for="RegisterModel.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="RegisterModel.Password" type="password" placeholder="Mật khẩu*" />
                                    <span asp-validation-for="RegisterModel.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="RegisterModel.PhoneNumber" placeholder="Số điện thoại*" />
                                    <span asp-validation-for="RegisterModel.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="RegisterModel.Address" placeholder="Địa chỉ*" />
                                    <span asp-validation-for="RegisterModel.Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="htc__login__btn">
                                <button type="submit">Đăng ký</button>
                            </div>
                        </form>
                        <!-- End Single Content -->
                    }
                </div>

            </div>
        </div>
        <!-- End Login Register Content -->
    </div>
</div>
<!-- End Login Register Area -->
