@page
@model KoiPondConstructionManagement.Pages.ServiceModel
@{
}
<!-- End Header Style -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url('/images/bg/5.jpg') no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">DỊCH VỤ</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Trang chủ</a>
                            <span class="brd-separetor">-</span>
                            <span class="breadcrumb-item active">Dịch vụ</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Service Area -->
<section class="htc__service__area service__page bg__gray ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">Dịch vụ <span class="text--theme">Của chúng tôi</span></h2>
                    <p>Chúng tôi cung cấp các dịch vụ về hồ cá koi, từ khảo sát, thiết kế, thi công, bảo dưỡng hồ cá koi. Chúng tôi cam kết mang lại cho khách hàng những sản phẩm và dịch vụ tốt nhất.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service__section__wrap clearfix">
                <!-- Start Single Service -->
                <div class="col-sm-6 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a asp-page="/Service/MaintenanceServices">
                                <img src="~/images/service/1.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a asp-page="/Service/MaintenanceServices">Chúng tôi cung cấp dịch vụ toàn diện về lĩnh vực hồ cá koi. Tư vấn khảo sát tại nhà; lên ý tưởng thiết kế, thi công; bàn giao và bảo dưỡng hồ định kỳ.</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a asp-page="/Service/MaintenanceServices">Thiết kế thi công hồ cá KOI</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-sm-6 col-xs-12">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a asp-page="/Service/MaintenanceServices">
                                <img src="~/images/service/2.jpg" alt="service images">
                            </a>
                            <div class="service__hover">
                                <div class="service__action">
                                    <a asp-page="/Service/MaintenanceServices">Chúng tôi cung cấp các dịch vụ vệ sinh, chăm sóc, bảo dưỡng hồ cá koi. Đảm bảo hồ cá luôn sạch đẹp, cá khỏe mạnh.</a>
                                </div>
                            </div>
                        </div>
                        <div class="service__details">
                            <h2><a asp-page="/Service/MaintenanceServices">Dịch vụ vệ sinh, chăm sóc, bảo dưỡng hồ cá.</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Service Area -->
<!-- Start Testimonial Area -->
<section class="htc__testimonial__area ptb--130 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                <div class="htc__testimonial__wrap">
                    <div class="section__title text-left">
                        <h2 class="title__line">Khách hàng <span class="text--theme">nói gì</span></h2>
                        <p>Chúng tôi luôn lắng nghe và đánh giá cao ý kiến của khách hàng. Dưới đây là một số ý kiến của khách hàng đã sử dụng dịch vụ của chúng tôi.</p>
                    </div>
                    <div class="testimonial__activation clearfix">
                        <!-- Start Single Testimonial -->
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="~/images/test/client/1.jpg" alt="clint image">
                            </div>
                            <div class="testimonial__details">
                                <div class="tes__icon">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <p>Tôi rất hài lòng với dịch vụ của công ty. Hồ cá koi của tôi được thiết kế và thi công rất đẹp, đúng như ý tưởng của tôi. Cảm ơn công ty đã tạo ra một không gian tuyệt vời cho gia đình tôi.</p>
                                <h2><a href="#">Ngô Tấn Lợi</a></h2>
                                <h4>CEO, Alves</h4>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                <div class="reguest__quote">
                    <div class="section__title text-left">
                        <h2 class="title__line">Để lại <span class="text--theme">lời nhắn</span></h2>
                        <p>Chúng tôi luôn lắng nghe và đánh giá cao ý kiến của khách hàng. Hãy để lại lời nhắn của bạn cho chúng tôi.</p>
                    </div>
                    <div class="clint__comment__form">
                        <div class="single__cl__form">
                            <input type="text" placeholder="Họ và tên">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="single__cl__form">
                            <input type="tel" placeholder="Số điện thoại">
                            <input type="text" placeholder="Tiêu đề">
                        </div>
                        <div class="single__cl__message">
                            <textarea name="message" placeholder="Lời nhắn"></textarea>
                        </div>
                        <div class="clint__submit__btn">
                            <a class="htc__btn" href="#">Gửi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>