@page
@model KoiPondConstructionManagement.Pages.NotFound.IndexModel
@{
    ViewData["Title"] = "404 Not Found"; // Tiêu đề của trang
}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url('/images/bg/5.jpg') no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Không tìm thấy trang</h2>
                        <p class="bradcaump-sorry">Xin lỗi, trang bạn tìm kiếm không tồn tại.</p>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" asp-page="/Index">Trở về trang chủ</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->

<style>
    .bradcaump-sorry{
        color: #fdfdfd;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
    }
</style>
