@using System.Security.Claims
@* @page *@

<!-- Start Offer Area -->
<section class="htc__offer__area ptb--80 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="offer">
                    <div class="offer__icon">
                        <img src="~/images/others/icon-2/1.png" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">Tầm nhìn và sứ mệnh</a></h2>
                        <p>Cam kết mang đến cho khách hàng những giải pháp toàn diện và bền vững về thi công hồ cá.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                <div class="offer separator">
                    <div class="offer__icon">
                        <img src="~/images/others/icon-2/2.png" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">Đội ngũ chuyên gia</a></h2>
                        <p>Đội ngũ tư vấn thiết kế có kiến thức sâu về phong thủy và cá Koi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                <div class="offer separator">
                    <div class="offer__icon">
                        <img src="~/images/others/icon-2/3.png" alt="icon images">
                    </div>
                    <div class="offer__details">
                        <h2><a href="#">Chất lượng dịch vụ</a></h2>
                        <p>Thi công chuyên nghiệp, sử dụng các vật liệu chất lượng cao</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Offer Area -->