@using System.Security.Claims
@* @page *@

<!-- Start Testimonial Area -->
<section class="htc__testimonial__area  ptb--80" data--gray__overlay="9" style="background: rgba(0, 0, 0, 0) url('/images/bg/1.jpg') no-repeat fixed center center / cover ;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                <div class="htc__testimonial__wrap">
                    <div class="section__title text-left">
                        <h2 class="title__line">KHÁCH HÀNG <span class="text--theme">NÓI VỀ CHÚNG TÔI</span></h2>
                        @* <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasur</p> *@
                    </div>
                    <div class="testimonial__activation clearfix">
                        <!-- Start Single Testimonial -->
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="~/images/test/client/1.jpg" alt="clint image">
                            </div>
                            <div class="testimonial__details">
                                <div class="tes__icon">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <p>Chúng tôi vô cùng hài lòng với dịch vụ thi công hồ cá Koi của công ty. Từ khâu tư vấn đến thiết kế và thi công đều rất chuyên nghiệp. Hồ cá không chỉ mang lại vẻ đẹp cho không gian mà còn giúp gia đình có thêm một nơi thư giãn tuyệt vời.</p>
                                <h2><a href="#">Nguyễn Văn A</a></h2>
                                <h4>Khách hàng tại Hà Nội</h4>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="~/images/test/client/1.jpg" alt="clint image">
                            </div>
                            <div class="testimonial__details">
                                <div class="tes__icon">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <p>Đội ngũ chăm sóc hồ cá Koi thực sự tận tâm và chu đáo. Họ luôn sẵn sàng tư vấn và hỗ trợ khi hồ cá gặp bất kỳ vấn đề nào. Nhờ sự bảo dưỡng định kỳ, hồ cá của chúng tôi luôn sạch sẽ và cá phát triển khỏe mạnh.</p>
                                <h2><a href="#">Trần Thị B</a></h2>
                                <h4>Khách hàng tại TP. Hồ Chí Minh</h4>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                <div class="reguest__quote">
                    <div class="section__title text-left">
                        <h2 class="title__line">YÊU CẦU <span class="text--theme">BÁO GIÁ</span></h2>
                        <p>Bạn đang muốn thi công hồ cá Koi cho không gian của mình? Hãy liên hệ ngay với chúng tôi để nhận tư vấn và báo giá chi tiết nhất. Chỉ cần cung cấp một vài thông tin cơ bản, đội ngũ chuyên gia của chúng tôi sẽ nhanh chóng đưa ra phương án thi công và mức giá phù hợp với nhu cầu và ngân sách của bạn. Đừng bỏ lỡ cơ hội sở hữu một hồ cá Koi đẳng cấp và tinh tế cho ngôi nhà của bạn!</p>
                    </div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="clint__submit__btn">
                            <a class="submit htc__btn" asp-page="/LoginRegister">
                                Đăng nhập để thực hiện tính năng
                            </a>
                        </div>
                    }
                    else
                    {
                        <form id="contact-form" action="https://d29u17ylf1ylz9.cloudfront.net/simply-construction/mail-faq.php" method="post">
                            <div class="clint__comment__form">
                                <div class="single__cl__form">
                                    <input name="name" type="text" placeholder="Họ và tên" value="@User.FindFirst(ClaimTypes.Name)?.Value" disabled readonly>
                                    <input name="email" type="email" placeholder="Email" value="@User.FindFirst(ClaimTypes.Email)?.Value" disabled readonly>
                                </div>
                                <div class="single__cl__form">
                                    <input name="telephone" type="tel" placeholder="Số điện thoại" value="@User.FindFirst(ClaimTypes.MobilePhone)?.Value" disabled readonly>
                                    @* <input name="subject" type="text" placeholder="Tiêu đề"> *@
                                    <select name="service" id="service">
                                        <option value="construction">Thi công hồ cá Koi</option>
                                        <option value="maintenance">Bảo dưỡng hồ cá Koi</option>
                                    </select>
                                </div>
                                <div class="single__cl__message">
                                    <textarea name="message" placeholder="Yêu cầu"></textarea>
                                </div>
                                <div class="clint__submit__btn">
                                    <button class="submit htc__btn" type="submit">
                                        Gửi yêu cầu
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Area -->